/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

* {
  box-sizing: border-box;
  color: #000;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  padding: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, #ff94c2, #80deea);
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
}

i {
  color: inherit;
}

/* font colors */

.fc-g {
  color: green;
}

nav {
  a {
    font-size: 1rem;
    margin-right: 8px;
    text-decoration: underline;

    &:visited {
      color: #000;
    }
  }
}
